.calculator{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;


}
.title{
text-align: center;
}


.numbersAndMathOperators{
    margin-top: 20px;
}
.button_proportions{
    margin: 2px;
    width: 50px;
    height: 50px;

}
.input_fields {
    width: 218px;
    height: 60px;
    text-align: right;
}

.button_proportions{
    color: darkred;
}

.setting_block{


    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

}
.img_setting{
    margin-top: 2px;
    margin-left: 4px;
    width: 19px;
}
.setting_button{
    border-radius: 20px;
    border: 1px solid #000;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Cusotmized menu*/

/*Dark Mode menu*/

.text_Darkmode{
    font-size: 18px;

}
.Customized_menu{
    display: flex;
}
.menuCustom{
    display: none;
}
.menuCustom-open{
    display: flex;
}

.switch{
    margin-left: 5px;
    margin-top: 19px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: orange;
}

input:focus + .slider {
    box-shadow: 0 0 1px orange;
}

input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark_mode-active{
    background-color: black;
    color: white;

}


.text_version{
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
}
